<!DOCTYPE html>
<html>
<head>
  <title>Unlocking Door</title>
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Varela+Round:wght@400;700&display=swap">
  <style>
    body {
      background-color: green;
      color: white;
      text-align: center;
      font-size: 48px;
      font-family: 'Varela Round', sans-serif;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: auto;
    }

    .bx {
      font-size: 100px;
      color: white;
    }
  </style>
</head>
<body>
  <div class="container">
    <i class='bx bx-check-circle'></i>
    <h1>Unlocking</h1>
  </div>
</body>
</html>
